@model List<Game.Models.GameModels.Monster>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<table id="movies" class="table table-bordered table-hover">
    <thead>
    <a asp-action="AddMonster">add Monster</a>
    <hr/>
    <tr>
        <th>Id</th>
        <th>Armor Class</th>
        <th>Name</th>
        <th>Hits</th>
        <th>Damage</th>
        <th>DamageModifier</th>
        <th>AttackPerRound</th>
    </tr>
    @if (Model != null)
    {
        @foreach (var mon in Model)
        {
            <tr>
                <th>@mon.Id</th>
                <th>@mon.Ac</th>
                <th>@mon.Name</th>
                <th>@mon.Hits</th>
                <th>@mon.Damage</th>
                <th>@mon.DamageModifier</th>
                <th>@mon.AttackPerRound</th>
            </tr>
        }
    }
    </thead>
</table>